
.login {
  height: 245px;
  border-radius: 20px;
  padding-top: 15px;
}
.signup {
  height: 190px;
  border-radius: 20px;
  padding-top: 15px;
}

#loginSubmit {
  border-radius: 20px;
}

.headerAb {
  text-align: center;
}

.cntrb {
  text-align: center;
}

.webimg {
  max-width: 100%;
}

.grabbedpics {
  max-width: 100%;
  border-radius: 50%;
  padding: 4px;
  height: 250px;
}

.authorN {
  margin-left: 50px;
}

hr {
  width: 100%;
  color: black;
  height: 1;
  background-color: black;
  border-color: black;
}

.gitlink {
  margin-left: 250px;
  height: 50px;
}

.websitelink {
  height: 50px;
}

.linkedinlink{
  height: 50px;
}
.itemTable {
  text-align: center;
  
}
.pleaseClick {
  margin-left: 20px;
}
table {
  margin: auto;
  
}

tbody {
  width: 1000px;
}
th {
  width: 250px;
  height: 30px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
td {
  width: 250px;
  height: 30px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.entry-price {
  text-align: left;
  padding-left: 100px;
}
.entry-name {
  padding-left: 40px;
  text-align: left;
}
.entry-description {
  padding-left: 30px;
  text-align: left;
}
.logout {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 20px;
  
}
.loggedInAs {
  height: 38px;
  width: 100%;
  padding: 6px;
  white-space: nowrap;
}
.controlPanel {
width: 100%;
margin-top: 10px;
white-space: nowrap;

}
.searchCount {
margin-top: 9px;
}

  
