.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login {
  height: 245px;
  border-radius: 20px;
  padding-top: 15px;
}
.signup {
  height: 190px;
  border-radius: 20px;
  padding-top: 15px;
}

#loginSubmit {
  border-radius: 20px;
}

.headerAb {
  text-align: center;
}

.cntrb {
  text-align: center;
}

.webimg {
  max-width: 100%;
}

.grabbedpics {
  max-width: 100%;
  border-radius: 50%;
  padding: 4px;
  height: 250px;
}

.authorN {
  margin-left: 50px;
}

hr {
  border: 0;
  width: 100%;
  color: black;
  height: 1;
  background-color: black;
  border-color: black;
}

.gitlink {
  margin-left: 250px;
  height: 50px;
}

.websitelink {
  height: 50px;
}

.linkedinlink{
  height: 50px;
}
.itemTable {
  text-align: center;
  
}
.pleaseClick {
  margin-left: 20px;
}
table {
  margin: auto;
  
}

tbody {
  width: 1000px;
}
td {
  width: 250px;
  height: 30px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.entry-price {
  text-align: left;
  padding-left: 100px;
}
.entry-name {
  padding-left: 40px;
  text-align: left;
}
.entry-description {
  padding-left: 30px;
  text-align: left;
}
.entry-id {

}
.logout {
  height: 40px;
  

}
