
.login {
  height: 245px;
  border-radius: 20px;
  padding-top: 15px;
}
.signup {
  height: 190px;
  border-radius: 20px;
  padding-top: 15px;
}

#loginSubmit {
  border-radius: 20px;
}

.headerAb {
  text-align: center;
}

.cntrb {
  text-align: center;
}

.webimg {
  max-width: 100%;
}

.grabbedpics {
  max-width: 100%;
  border-radius: 50%;
  padding: 4px;
  height: 250px;
}

.authorN {
  margin-left: 50px;
}

hr {
  width: 100%;
  color: black;
  height: 1;
  background-color: black;
  border-color: black;
}

.gitlink {
  margin-left: 250px;
  height: 50px;
}

.websitelink {
  height: 50px;
}

.linkedinlink{
  height: 50px;
}

.pleaseClick {
  margin-left: 20px;
}
table {
  margin: auto;
}

tbody {
  width: 100%;
}
td {
  width: 250px;
  height: 30px;
  text-align: center;
  }
.entry-price {
  color: green;
  font-size: 35px;
  text-align: left;
}
.entry-name {
  text-align: left;
}
.entry-description {
  text-align: left;
}
.logout {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 20px;
  
}
.loggedInAs {
  height: 38px;
  width: 100%;
  padding: 6px;
  white-space: nowrap;
}
.controlPanel {
width: 100%;
margin-left: 50px;
margin-top: 10px;
white-space: nowrap;

}
.searchCount {
margin-top: 9px;
}
.editBtn {
  height: 30px;
  width: 100%;
  font-size: 12px;
  margin: 5px;
}
.viewInterestBtn {
  height: 30px;
  width: 100%;
  font-size: 12px;
  
}
.removeInterestBtn {
  height: 30px;
  width: 100%;
  font-size: 12px;
  margin: 5px;
}
.deleteBtn {
  height: 30px;
  width: 100%;
  font-size: 12px;
  margin: 5px;
}
